.instalattion-section {
  &-sub-title {
    position: relative;
    max-width: 900px;
    width: 100%;
    font-size: 22px;
    color: rgb(7, 7, 72);
    margin: 0 auto;
    padding: 100px 0;
  }

  &-title {
    position: relative;
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(
      90deg,
      rgb(4, 4, 149),
      rgb(100, 50, 200),
      rgb(200, 50, 100),
      rgb(255, 0, 0)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 100px 0 150px;
  }
}
