@font-face {
  font-family: "SF-Pro-Display";
  src: url("./fonts/SF-Pro-Display-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("./fonts/SF-Pro-Display-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "SF-Pro-Display", sans-serif;
  font-weight: 400;

  .container {
    width: 100%;
    max-width: 1920px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
  }

  .backgroundCarousels {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    pointer-events: none;
    z-index: 1;

    &-carousel {
      width: 50px;
      height: 100%;
      background-color: rgb(227, 118, 118);
      opacity: 0.3;
    }
  }
}
