body.active-modal {
  overflow-y: hidden;

  .modal,
  .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: #f1f1f1;

    .modal-content {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      line-height: 1.4;
      background: white;
      padding: 14px 28px;
      border-radius: 30px;
      max-width: 800px;
      min-width: 300px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

      .close-modal {
        display: block;
        margin-left: auto;
        padding: 5px 7px;
        cursor: pointer;
      }

      .title {
        text-align: center;
        color: blue;
        font-size: 28px;
        margin-bottom: 20px;
      }

      .imagesWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;

        .carousel {
          width: 20px;
          height: 400px;
          background-color: rgb(219, 172, 172);
          opacity: 0.3;
        }

        img {
          object-fit: contain;
          position: absolute;
          background: none;
          transition: transform 0.5s ease-in-out;
        }

        img:hover img {
          -webkit-tranform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1);
        }

        .first-image {
          width: 40vw;
          height: 40vh;
          top: 50%;
          left: -20%;
          transform: translateY(-50%);
        }

        .second-image {
          width: 60vw;
          height: 60vh;
          top: 30%;
          left: -10%;
          transform: translateY(-15%);
        }
      }
    }
  }
}
